.addStoryDialog__container {
    display: flex;
    justify-content: space-between;

    .dialogOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dialogBox {
        background-color: #fff;
        padding: 2rem;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 90vw;
        max-width: 500px;

        .addStoryDialog__cancelButton {
            display: flex;
            justify-content: flex-end;

            button {
                font-size: 1.2rem;
                font-weight: bold;
                background-color: #fff;
            }
        }
    }

    .dialogBox h2 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .dialogBox form label {
        display: block;
        margin-bottom: 0.5rem;
    }

    .dialogBox form input,
    .dialogBox form textarea,
    .dialogBox form select {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid var(--color-text-blue);
        border-radius: 4px;
        margin-bottom: 1rem;
    }

    .dialogBox form textarea {
        height: 100px;
    }

    .dialogBox form .dialogActions {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;

        button {
            font-size: 1.5rem;
            background-color: var(--color-text-blue);
            color: #fff;
            width: 15vw;
            min-width: 80px;
            max-width: 110px;
            border-radius: 4px;
        }
    }

    .addStoryDialog__dialogueDropDowns {
        display: flex;
        justify-content: space-between;

        .addStoryDialog__dialogueDropDownLeft {
            width: 65%;
        }
    }

    .addStoryDialog__requiredMessage {
        color: var(--color-text-red);
        font-size: 0.8rem;
        margin-top: -0.5rem;
        margin-bottom: .5rem;
    }

    button {
        border: none;
        background-color: var(--color-background);
        font-size: 1.2rem;
        cursor: pointer;
    }
}