.personSection__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    padding-left: 1rem;
    height: var(--height-section-line);
    border-style: solid none;
    border-width: 2px;
    border-color: #ffffff;

    .personSection__totalStoryPoints {
        font-size: 1.2rem;
        margin-right: 2.2rem;
        padding-right: 1rem;
        font-weight: bold;
    }
}

.personSection__dropDownContainer {
    display: flex;
    align-items: center;

    h1 {
        font-size: 1.4rem;
        font-weight: regular;
        margin-left: 1rem;
    }

    .personSection__dropDownArrow {
        display: flex;
    }
}

@media screen and (min-width: 800px) {
    .personSection__container {
    height: 5vh;

        h1 {
            font-size: 1rem;
        }
    }
}