.listStories__container {
    ul {
            list-style-type: none;
        }

    .listStories__noStories {
        height: 4vh;
        display: flex;
        align-items: center;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 800px) {
    .listStories__container {
        .listStories__storyContainer {
            height: 5vh;

            .listStories__title {
                font-size: 1rem;
            }

            .listStories__developerColorIcon {
                width: 2rem;
                height: 2rem;
            }

            .listStories__points {
                font-size: 1rem;
            }
        }

        .listStories__noStories {
            height: 5vh;
        }
    }
}